div.cart{
    position: fixed;
    height: 10em;
    width: 20em;
    background-color: white;
    top: 5em;
    right: 7%;
    z-index: 1;
}
.cart ul{
    list-style: none;
}

.cart p{
    margin-left: 2.4em;
}